.column > .color1 {
  --color: #70c0c9;
}
.column > .color2 {
  --color: #4074bd;
}
.column > .color3 {
  --color: #e05e46;
}
.column > .color4 {
  --color: #919191;
}

.column > [class^='color'] {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 4px;
  background-color: var(--color);
  color: var(--color);
}
