.container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.column {
  float: left;
  width: 200px;
  margin: 0 25px;
}

.column > .color1 {
  background-color: #70c0c9;
  color: #70c0c9;
}
.column > .color2 {
  background-color: #4074bd;
  color: #4074bd;
}
.column > .color3 {
  background-color: #e05e46;
  color: #e05e46;
}
.column > .color4 {
  background-color: #919191;
  color: #919191;
}

.color1,
.color2,
.color3,
.color4 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 4px;
}

.column > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  filter: invert(100%);
}

.column > div > .image-number {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 3px solid;
  line-height: 30px;
  width: 36px;
  text-align: center;
  background-color: white;
  border-radius: 18px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column > h1 {
  width: 100%;
  text-align: center;
  color: #e15e4d;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 10px;
}

.column > p {
  margin-top: 20px;
  text-align: center;
  color: #727272;
}
